{% extends 'base.html.twig' %}

{% block body %}
    <h1>About us :</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequuntur dignissimos eligendi, eos ex
        explicabo, itaque laudantium molestiae nisi obcaecati omnis pariatur qui reprehenderit voluptatum. Est eum qui
        vel.
    </div><br>

    <div>Amet deserunt expedita magni reiciendis tempore! Ad aut fugiat ullam. Doloremque minima tempore tenetur veniam?
        Ad at distinctio doloribus in itaque magni, officia quae quidem quo, sed suscipit vel velit!
    </div><br>

    <div>A cupiditate dolore eius impedit nemo nihil obcaecati praesentium, quisquam saepe sapiente. At cupiditate
        debitis, dolorum, eligendi fugit ipsam maiores maxime, minima nihil nobis perspiciatis praesentium quas sed
        tempore vero?
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

