{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil

{% endblock %}

{% block body %}
    <h1>Bienvenue sur Bucket List,</h1>
    <p>Ici tu pourras faire la liste de tout ce que tu veux faire dans ta vie.</p>

{% endblock %}
