{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Wishlist

{% endblock %}

{% block body %}
    <h1>Wishlist :</h1>


    Wish n°1 - {{ wish1 }}<br>
    Wish n°2 - {{ wish2 }}<br>

{% endblock %}