{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Wishlist

{% endblock %}

{% block body %}
    <h1>Wishlist :</h1>

    <div class="list">
        {% for wish in wishes %}
            <h3><a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.title }}</a></h3><br>
        {% endfor %}
    </div>

{% endblock %}