<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('wish_list') }}">Liste</a></li>
        <li><a href="{{ path('main_about') }}">About us</a></li>
    </ul>
</nav>